# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/UI/node_modules
/UI/.pnp
/UI.pnp.js
/server/node_modules
/server/.pnp
/server.pnp.js

# testing
/UI/coverage
/server/coverage

# production
/UI/coverage
/server/coverage

# misc
/UI/.DS_Store
/UI/.env.local
/UI/.env.development.local
/UI/.env.test.local
/UI/.env.production.local

/UI/npm-debug.log*
/UI/yarn-debug.log*
/UI/yarn-error.log*
/UI/package-lock.json
/UI/yarn.lock
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/package-lock.json
/server/yarn.lock